<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <select (change)="onChange($event.target.value)">
         <option value="all" selected="selected">All Articles</option>
         <option value="science">science</option>
         <option value="tech">tech</option>
         <option value="global">global</option>
         <option value="politics">politics</option>
        </select>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">Login</a></li>
    </ul>
  </div>
</nav>
<ol>
  <li *ngFor="let currentArticle of masterArticleList | categoryPipe:filterByCategory">{{currentArticle.title}} {{currentArticle.link}}
  <p>{{currentArticle.comments}}</p>
</li>
</ol>



<!-- <script type="text/javascript">
  var showApp = angular.module('showApp', [])

  .controller('mainController', function($scope) {
    $scope.showhide = false;
  });
</script> -->


<!-- <ol>
  <li><a href="#" ng-click='showhide = !showhide'>Ansible at Grofers (Part 1) – Introduction (grofers.com) </a>
    <p ng-show="showhide">	1 point by vaidik 4 minutes <span>ago </span>|<span> hide </span>|<span> past </span>|<span> web </span>| <span>discuss</span></p>
  </li>
  <li>The Modern Developer: Capabilities Beyond Tech (medium.com)
    <p class="showhide">	2 point by vaidik 4 minutes <span>ago </span>|<span> hide </span>|<span> past </span>|<span> web </span>| <span>discuss</span></p>
  </li>
  <li>The Modern Developer: Capabilities Beyond Tech (medium.com)
    <p class="showhide">	1 point by vaidik 4 minutes <span>ago </span>|<span> hide </span>|<span> past </span>|<span> web </span>| <span>discuss</span></p>
  </li>
</ol> -->
