<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-left" >
        <li><a class="navbar-brand nob" routerLink="">Hacker News</a></li>
        <li><a value="all">All</a></li>
        <li><a (click)="onClick($event.target.value)" value="science">Science</a></li>
        <li><a routerLink="politics">Politics</a></li>
        <li><a routerLink="global">Global</a></li>
        <li><a routerLink="tech">Tech</a></li>
        <li><a class="nob" routerLink="submit">submit</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">Login</a></li>
    </ul>
  </div>
</nav>
<app-article-list [childArticleList]="masterArticleList"></app-article-list>


<!-- <script type="text/javascript">
  var showApp = angular.module('showApp', [])

  .controller('mainController', function($scope) {
    $scope.showhide = false;
  });
</script> -->


<!-- <ol>
  <li><a href="#" ng-click='showhide = !showhide'>Ansible at Grofers (Part 1) – Introduction (grofers.com) </a>
    <p ng-show="showhide">	1 point by vaidik 4 minutes <span>ago </span>|<span> hide </span>|<span> past </span>|<span> web </span>| <span>discuss</span></p>
  </li>
  <li>The Modern Developer: Capabilities Beyond Tech (medium.com)
    <p class="showhide">	2 point by vaidik 4 minutes <span>ago </span>|<span> hide </span>|<span> past </span>|<span> web </span>| <span>discuss</span></p>
  </li>
  <li>The Modern Developer: Capabilities Beyond Tech (medium.com)
    <p class="showhide">	1 point by vaidik 4 minutes <span>ago </span>|<span> hide </span>|<span> past </span>|<span> web </span>| <span>discuss</span></p>
  </li>
</ol> -->
